.eye-fragment {
  background-color: #1B1B1B;
  display: inline-block;
  height: 55px;
  overflow: hidden;
  width: 55px;

  &__content {
    img {
      cursor: pointer;
			filter: grayscale(100%);
      height: auto;
      opacity: .7;
      transform: opacity .2s;
      width: 100%;

      &:hover {
        opacity: 1;
      }
    }

    img.status--flicker-2 {
      animation: neonspark 2s 1s infinite;
    }

    img.status--flicker-3 {
      animation: neonspark 3s ease-in infinite;
    }

    img.status--flicker-7 {
      animation: neonspark 7s linear infinite;
    }
  }
}

