.eye-fragment {
  background-color: #1B1B1B;
  display: inline-block;
  height: 55px;
	opacity: .6;
  overflow: hidden;
	text-align: left;
	transition: width 300ms ease-in-out,
              height 300ms ease-in-out;
  width: 55px;

  &__content {
    img {
      cursor: pointer;
			filter: grayscale(100%);
      height: auto;
      opacity: .7;
      transition: opacity .2s;
      width: 100%;

      &:hover {
        opacity: 1;
      }
    }

    img.status--flicker-2 {
      animation: neonspark 2s 1s infinite;
    }

    img.status--flicker-3 {
      animation: neonspark 3s ease-in infinite;
    }

    img.status--flicker-7 {
      animation: neonspark 7s linear infinite;
    }
  }

	&__question-content {
		color: white;
		font-size: .55rem;
		line-height: 1;
		padding: .3rem .3rem .3rem 60px;
		position: absolute;
		top: 0;
		white-space: normal;
		height: 100%;

		> * {
			display: block;
			margin-bottom: .3rem;
		}

		> strong {
			color: rgb(255, 255, 255);
			font-size: .55rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		> small {
			color: #787878;
			font-size: .5rem;
		}
	}

  &__question-content-item {
    margin: 0;
  }

  &__question-content-item + &__question-content-item {
    margin-top: .2rem;
  }

	&--question-2,
  &--question-3,
  &--question-4,
  &--question-5,
  &--question-13 {
    border: 1px solid #2B2B2B;
    margin: -1px 0 0 -1px;
		opacity: 1;
    padding: .4rem;
		position: relative;
		width: 150px;
	}

	&--question-2 &__content img,
  &--question-2 &__content img,
  &--question-4 &__content img,
  &--question-5 &__content img,
  &--question-8 &__content img,
  &--question-9 &__content img,
  &--question-10 &__content img,
  &--question-13 &__content img,
  &--question-17 &__content img  {
		animation: none;
		filter: none;
	}

  &--question-5 &__content img,
  &--question-13 &__content img {
    max-height: 55px;
    max-width: 55px;
  }

	&--question-2 img,
  &--question-3 img,
  &--question-4 img,
  &--question-5 img,
  &--question-13 img {
		margin-right: .3rem;
		width: auto;
	}

  &--question-3 {
    height: 100px;
    width: 180px;
  }

  &--question-4 {
    height: 120px;
    width: 150px;
  }

  &--question-9 {
    height: 100px;
    width: 100px;
  }

  &--question-5 {
    height: 80px;
  }

  &--question-15,
  &--question-16,
  &--question-17 {
    transition: width 100ms ease-in,
  }

  &--question-15 {
    height: 90px;
    width: 90px;
  }

  &--question-16 {
    height: 120px;
    width: 120px;
  }

  &--question-17 {
    height: 55px;
    width: 55px;
  }
}

