.login {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%);
  z-index: 10;

  &__video {
    bottom: 0;
    right: 0;
    max-width: 100%;
    position: absolute;
  }

  &__teaser {
    color: #333;
    font-family: Georgia, serif;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  &__headline {
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0 0 .3rem 0;
  }

  &__button {
    background: #4E69A2;
    border: none;
    border-top: 2px solid darken(#4E69A2, 10%);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: .9rem;
    font-weight: bold;
    padding: .6rem 2rem;

    &:hover,
    &:focus {
      background: darken(#4E69A2, 5%);
      border-top: 2px solid darken(#4E69A2, 15%);
    }

    &:active {
      background: darken(#4E69A2, 10%);
      border-top: 2px solid darken(#4E69A2, 20%);
    }
  }
}
